/* David's Total Fitness
Web design: Paul Quinn */

a {
    color: white;
    text-decoration: none;
}


body {
    display: grid;
    grid-template-columns: 15% Auto;
    grid-template-rows: 65px Auto 65px;
    grid-template-areas: "aside hdr" "aside main" "aside ftr";
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100vh;
}



header, aside, main, footer {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}


header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(65, 101, 211);
    color: white;
}


header {
    grid-area: hdr;
    
}


aside {
    background-color:rgb(2, 31, 118);
    color: white;
    grid-area: aside;
    min-width: 15%;
}


footer {
    grid-area: ftr;
}


main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    vertical-align: top;
    background-color:rgb(255, 255, 255);
    filter: brightness(100%);
    color:rgb(2, 31, 118);
    height: 60%;
}


h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    text-align: center;
}


h2 {
    font-size: 2em;
    color: rgb(161, 6, 99);
    font-style: italic;
}


img {
  max-width: 100%
}

/* Table formatting */

th, td {
    padding: 5px;
    text-align: left
}

tr {
vertical-align: top;
}


.centerrounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
}

p.contactus {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding-top:  5px;
    padding-bottom: 5px;
    padding-left: 0px;
    text-align:left;
}

p.photocaption {
    color:rgb(0, 0, 0);
    font-size:18px;
    padding: 1px;
    text-align: left;
  }

            
           
 /* Image and text on contact page */


  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  
  .image {
    flex-basis: 80%
  }
  
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }
  



/* Use of a concept or technique not covered in this class */
/* Typing effect at bottom of home papge */

typing {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-effect {
    width: 33ch;
    animation: typing 2s steps(22), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
      
  @keyframes effect {
    50% {
      border-color: transparent;
    }
  }




/* Another use of a concept or technique not covered in this class */
/* Image fade in effect on contact page */

  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }










